.caracteristicas{
    width: 100vw;
    height: max-content;
    background-color: #E92436;
    padding-bottom: 3rem;
    text-align: center;
    margin-bottom: 3rem;
    padding-top: 3rem;
    color: #ffffff;   
    
}
.caracteristicas>p{
    margin: .8rem;
}
.section-description{
    font-size: 1.8rem;
}
.cards-caracteristicas{
    display: flex;
    justify-content: center;
    gap: 5vw;
    flex-wrap: wrap;
    margin-top: 2rem;
    padding: 2rem;
    p{
        font-size: 1.6rem;
    }
}
.card-caracteristica{
    padding: 1.2rem;
    min-width: 300px;
    max-width: 500px;

    .content-card-caracteristica{
        position: relative;
        height: 130px;
        background-color: #2b2b2b;
        border-radius: 10px;
        padding: .8rem;
        margin-bottom: 2rem;
    
    }
    .content-card-caracteristica::before{
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
        bottom: -10px;
        left: 25px;
        background-color: #2b2b2b;
    }
    .footer-card-caracteristica{
        display: flex;
        align-items: center;
        gap: 20px;
        i{
            font-size: 3rem;
        }
    }
}