#map{
    margin-top: 3rem;
    width: 100vw;
    height: 40vh;
    iframe{
        width: 100%;
        height: 100%;
    }
}
.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 60px;
    color: $link-active-color;
    font-size: 1.6rem;
}