*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 70px;
  padding: 0.8rem;
  background-color: #ffffff;
  border-bottom: 1px solid #c7c7c7;
  z-index: 100;
}

.logo-container {
  width: 35%;
  height: 100%;
}
.logo-container img {
  max-width: 100%;
  height: auto;
}

.menu__toggle {
  font-size: 3rem;
  margin-right: 0.8rem;
}
.menu__toggle i {
  color: #E92436;
}

.nav-container {
  position: fixed;
  height: 100vh;
  right: -110%;
  top: 70px;
  width: 100vw;
  padding: 0.8rem;
  background-color: #ffffff;
  transition: all 0.5s;
  z-index: 10;
}
.nav-container ul {
  list-style: none;
}
.nav-container ul li {
  padding: 0.8rem;
  font-size: 1.6rem;
}
.nav-container ul li a {
  color: #000000;
  text-decoration: none;
}
.nav-container ul li a:hover {
  color: #9b9b9b;
}

.show {
  right: 0;
}

/******************************************/
main {
  margin-top: 70px;
}

.home {
  background-color: #E92436;
  padding: 2rem;
}

.informacion-general {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
  margin-top: 5rem;
  margin-bottom: 8rem;
}

.card {
  background-color: #ffffff;
  width: 370px;
  min-width: 315px;
  height: 470px;
  padding: 2rem 3rem 5rem 2rem;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 9px 11px 4px rgba(0, 0, 0, 0.1), -8px -8px 11px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}
.card .icon-card {
  font-size: 5rem;
  color: #E92436;
}
.card .title-card {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.card .information-card {
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}
.card .footer-card a {
  display: flex;
  width: 130px;
  height: 50px;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 3rem;
  left: calc(50% - 65px);
  text-decoration: none;
  color: #ffffff;
  padding: 1.2rem 2rem 1.2rem 2rem;
  background-color: #E92436;
  font-size: 1.4rem;
}

.card:hover {
  background-color: #3E3F3C;
  transition: all 0.4s;
}
.card:hover p, .card:hover i {
  color: #ffffff;
}
.card:hover a {
  background-color: #3E3F3C;
  border: 2px solid #ffffff;
}

.card a:hover {
  background-color: #337AB7;
  border: 2px solid #ffffff;
}

/*****************************************/
.informacion-nosotros h2 {
  font-size: 2.8rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 2rem;
}
.informacion-nosotros .video-nosotros {
  width: 100%;
}
.informacion-nosotros .video-nosotros video {
  max-width: 100%;
}

/***************************************************/
.nuestro-trabajo {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
  padding: 0rem 1.6rem 0rem 1.6rem;
}
.nuestro-trabajo h2 {
  font-size: 2.8rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 2rem;
}
.nuestro-trabajo p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.carousel-img-container {
  max-height: 500px;
}
.carousel-img-container div img {
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/*****************************************/
.nosotros {
  width: 100%;
  text-align: center;
  padding: 0rem 1.6rem 0rem 1.6rem;
  margin-bottom: 12rem;
}
.nosotros h2 {
  font-size: 2.8rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 2rem;
}
.nosotros p {
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

.equipo-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12rem;
}

.miembro-card {
  background-color: #ffffff;
  width: 370px;
  min-width: 315px;
  height: 470px;
  text-align: center;
  box-shadow: 0px 9px 11px 4px rgba(0, 0, 0, 0.1), -8px -8px 11px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}
.miembro-card .image-profile img {
  max-width: 100%;
}

.miembro-card:hover {
  transform: scale(1.05);
  transition: all 0.4s;
}
.miembro-card:hover .content-card-member {
  background-color: #3E3F3C;
}
.miembro-card:hover .footer-card-member a {
  background-color: #2b2b2b;
}
.miembro-card:hover .wpp {
  color: #25D366;
}
.miembro-card:hover .mail {
  color: #E92436;
}
.miembro-card:hover .face {
  color: #3b5998;
}

.content-card-member {
  background-color: #E92436;
  text-align: left;
  padding: 0.8rem 2rem 2rem 0.8rem;
  color: #ffffff;
  transition: all 0.4s;
}
.content-card-member .nombre {
  margin-bottom: 2rem;
}
.content-card-member .descripcion {
  text-align: justify;
}

.footer-card-member {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 2.5rem;
}
.footer-card-member a {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #c62835;
  border-radius: 50%;
}

/****************************************/
@media screen and (min-width: 1370px) {
  .menu__toggle {
    display: none;
  }
  .nav-container {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    position: static;
  }
  .nav-container ul {
    display: flex;
  }
  .nav-container ul li {
    display: block;
    width: 190px;
    text-align: center;
  }
  .nav-container ul li a {
    position: relative;
  }
  .nav-container ul li a::before {
    content: "";
    display: block;
    width: 150px;
    height: 3px;
    background-color: #D5B9B7;
    position: absolute;
    top: -4px;
    left: calc(50% - 75px);
    transition: all 0.4s;
  }
  /*.nav-container ul li a:hover::before{
      width: 100%;
  }
  .nav-container ul li a::before{
      left: 50%;
  }
  .nav-container ul li a:hover::before{
      left: 0%;

  }*/
  .nav-container ul li a:hover::before {
    background-color: #E92436;
  }
  .nav-container ul li a:hover {
    color: #E92436;
  }
  .carousel-img-container {
    max-height: 600px;
  }
  .carousel-img-container div img {
    height: 600px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .informacion-nosotros h2 {
    font-size: 4.6rem;
  }
  .nuestro-trabajo h2 {
    font-size: 4.6rem;
  }
  .nosotros h2 {
    font-size: 4.6rem;
  }
}/*# sourceMappingURL=main.css.map */